.pagination {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 1000px;
   margin: 0 auto;
}
.pageNumber {
	margin: 0 1px;
	padding: 3px 6px;
	border: 1px solid #414141;
	cursor: pointer;
}
.selectedPage {
	margin: 0 1px;
	padding: 3px 6px;
	color:#fff;
	border: 1px solid #414141;
	background-color: #414141;
}