.top {
	margin: 0px 0px 20px 0px;
}
.top img {
	width: 100px;
	border-radius: 50px;
}
.mainPtoto {
	width: 200px;
	height: 200px;
	position: relative;

}
.mainPtoto img  {
	max-width: 100%;
	height: auto;
}
.mainPtoto:hover .inputChangePhoto {
	height: 30px;
	visibility: visible;
	opacity: 1;
}
.inputChangePhoto {
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 0px;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	opacity: 0;
}
.inputChangePhoto label {
	color:#dbdbdb;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.inputChangePhoto label:hover {
	color:#fff;
}
.inputChangePhoto input {
	display: none;
}
.status {
	margin: 20px 0px 20px 0px;
	position: relative;
}
.changeStatus {
	padding: 5px;
	cursor: pointer;
}
.changeStatus:hover {
	background-color: rgba(255, 255, 255, 0.514);
}
.inputChangeStatus {
	padding: 10px;
	width: 200px;
	background-color: #ffffff;
	border: 1px solid #000000;
	position: absolute;
	top: -10px;
	left: 0;
}
.inputChangeStatus input {
	margin-bottom: 10px;
	border: 1px solid #000000;
	padding: 5px;
}
.inputChangeStatus .button {
	margin: 10px 0px 0px 0px;
}
.hr {
	width: 100%;
	height: 1px;
	background-color: #aaaaaa;
}
.block {
	margin: 20px 0px 20px 0px;
}
.button {
	margin: 0px 0px 10px 0px;
	padding: 5px 10px;
	border: 1px solid #000;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
.button:hover {
	background-color: #000;
	color:#fff;
}
.block span {
	line-height: 36px;
}
.rowForm {
	display: flex;
	line-height: 38px;
	margin: 0px 0px 10px 0px;
}
.label {
	margin-right: 10px;
}
.rowForm input,
.rowForm textarea {
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #000000;
}
.wrapperSocialIcon {
	display: flex;
}
.row {
	display: flex;
	align-items: center;
	margin: 0px 0px 20px 0px;
}
.rowButton {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.itemContact {
	transition: all 0.3s ease 0s;
	margin: 0px 7px;
}
.itemContact:hover img {
	transform: scale(1.1);
}
.itemContact img {
	width: 25px;
	height: 25px;
}