

.title {
	font-size: 20px;
	margin: 0px 0px 10px 0px;
}
input {
	padding: 10px 5px;
}
.button {
	padding: 5px 10px;
	background-color: #0c50e2;
	font-size: 16px;
	color:#fff;
}
.formSummaryError {
	margin: 0px 0px 10px 0px;
	display: inline-block;
	padding: 5px;
	color: red;
	font-size: 15px;
	border: 1px solid red;
}